Načtěte data,

In [1]:
import pandas as pd

# Load the dataset to check its contents
data = pd.read_csv("Stats survey.csv")

# Display the first few rows of the dataset to understand its structure
data.head()

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

přejmenujte sloupce pro lepší manipulaci,

In [2]:
data.rename(columns={
        "Timestamp": "Timestamp",
        "Your Sex?": "Sex",
        "Your Matric (grade 12) Average/ GPA (in %)": "Matric_GPA",
        "What year were you in last year (2023) ?": "Year",
        "What faculty does your degree fall under?": "Faculty",
        "Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)": "Yearly_GPA",
        "Your Accommodation Status Last Year (2023)": "Accommodation",
        "Monthly Allowance in 2023": "Monthly_Allowance",
        "Were you on scholarship/bursary in 2023?": "Scholarship",
        "Additional amount of studying (in hrs) per week": "Study_Hours",
        "How often do you go out partying/socialising during the week? ": "Socialising_Frequency",
        "On a night out, how many alcoholic drinks do you consume?": "Drinks_Per_Night",
        "How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)": "Missed_Classes",
        "How many modules have you failed thus far into your studies?": "Modules_Failed",
        "Are you currently in a romantic relationship?": "In_Relationship",
        "Do your parents approve alcohol consumption?": "Parents_Approve",
        "How strong is your relationship with your parent/s?": "Relationship_Parents",
    # Add more mappings as needed
}, inplace=True)

zkontrolujte typy dat,

In [3]:
data.dtypes

Timestamp                 object
Sex                       object
Matric_GPA               float64
Year                      object
Faculty                   object
Yearly_GPA               float64
Accommodation             object
Monthly_Allowance         object
Scholarship               object
Study_Hours               object
Socialising_Frequency     object
Drinks_Per_Night          object
Missed_Classes            object
Modules_Failed            object
In_Relationship           object
Parents_Approve           object
Relationship_Parents      object
dtype: object

zjistěte počet\
záznamů v každém sloupci,\
chybějících hodnot v každém sloupci,\
počet unikátních hodnot v každém sloupci a\

In [13]:
# data.info()
# data.nunique()

for column in data.columns:
    print(f"Column: {column} | Total records: {data[column].size} | Missing values: {
          data[column].isna().sum()} | Data type: {data[column].dtype} | Unique values: {data[column].nunique()}")

Column: Timestamp | Total records: 406 | Missing values: 0 | Data type: object | Unique values: 400
Column: Sex | Total records: 406 | Missing values: 2 | Data type: object | Unique values: 2
Column: Matric_GPA | Total records: 406 | Missing values: 7 | Data type: float64 | Unique values: 43
Column: Year | Total records: 406 | Missing values: 73 | Data type: object | Unique values: 5
Column: Faculty | Total records: 406 | Missing values: 7 | Data type: object | Unique values: 8
Column: Yearly_GPA | Total records: 406 | Missing values: 86 | Data type: float64 | Unique values: 45
Column: Accommodation | Total records: 406 | Missing values: 23 | Data type: object | Unique values: 2
Column: Monthly_Allowance | Total records: 406 | Missing values: 31 | Data type: object | Unique values: 5
Column: Scholarship | Total records: 406 | Missing values: 8 | Data type: object | Unique values: 2
Column: Study_Hours | Total records: 406 | Missing values: 3 | Data type: object | Unique values: 5
Column: Socialising_Frequency | Total records: 406 | Missing values: 2 | Data type: object | Unique values: 6
Column: Drinks_Per_Night | Total records: 406 | Missing values: 2 | Data type: object | Unique values: 5
Column: Missed_Classes | Total records: 406 | Missing values: 3 | Data type: object | Unique values: 5
Column: Modules_Failed | Total records: 406 | Missing values: 3 | Data type: object | Unique values: 5
Column: In_Relationship | Total records: 406 | Missing values: 3 | Data type: object | Unique values: 2
Column: Parents_Approve | Total records: 406 | Missing values: 4 | Data type: object | Unique values: 2
Column: Relationship_Parents | Total records: 406 | Missing values: 3 | Data type: object | Unique values: 4

In [14]:


# Get the number of records in each column, missing values, and unique values
column_counts = data.count()  # Non-missing values count in each column
missing_counts = data.isnull().sum()  # Missing values count in each column
unique_counts = data.nunique()  # Unique values count in each column

# Combine these into a single DataFrame for better visibility
summary_df = pd.DataFrame({
    'Total Records': len(data),
    'Non-Missing Values': column_counts,
    'Missing Values': missing_counts,
    'Unique Values': unique_counts
})

summary_df

,Total Records,Non-Missing Values,Missing Values,Unique Values
Timestamp,406,406,0,400
Sex,406,404,2,2
Matric_GPA,406,399,7,43
Year,406,333,73,5
Faculty,406,399,7,8
Yearly_GPA,406,320,86,45
Accommodation,406,383,23,2
Monthly_Allowance,406,375,31,5
Scholarship,406,398,8,2
Study_Hours,406,403,3,5
Socialising_Frequency,406,404,2,6
Drinks_Per_Night,406,404,2,5
Missed_Classes,406,403,3,5
Modules_Failed,406,403,3,5
In_Relationship,406,403,3,2
Parents_Approve,406,402,4,2
Relationship_Parents,406,403,3,4

### Krok 2: Explorativní analýza dat (EDA)
- Proveďte základní statistický popis dat, 
- pro sloupce `["Sex", "Accommodation", "Monthly_Allowance"]` vypiš unikátní hodnoty a jejich počet
- vizualizujte distribuci klíčových proměnných:
  - histogram a boxpot pro Yearly GPA (identifikujte extrémní hodnoty)
  - sloupcovy graf pro počet žen vs mužů v datasetu a
- formulujte 3 hypotézy, které lze na datech ověřit.

In [15]:
# Základní statistiky kvantitativních proměnných
data.describe()

       Matric_GPA  Yearly_GPA
count  399.000000  320.000000
mean    77.989724   66.268469
std      7.048618    9.147906
min     34.000000   30.000000
25%     74.000000   60.000000
50%     78.000000   65.000000
75%     83.000000   73.000000
max     99.000000   95.220000

In [21]:
# Generate basic statistical description
basic_stats = data.describe(include='all')
basic_stats

#data["Sex"].value_counts()

# Frekvence kategorií pro vybrané kategorické proměnné
for col in data[["Sex", "Accommodation", "Monthly_Allowance"]]:
    # print(col)
    print(f"Frekvence v kategorii {col}:\n{data[col].value_counts()}\n")

Frekvence v kategorii Sex:
Sex
Male      216
Female    188
Name: count, dtype: int64

Frekvence v kategorii Accommodation:
Accommodation
Private accommodation/ stay with family/friends    335
Non-private accommodation ie. Res                   48
Name: count, dtype: int64

Frekvence v kategorii Monthly_Allowance:
Monthly_Allowance
R 4001- R 5000     159
R 5001 - R 6000    101
R 6001 - R 7000     58
R 7001 - R 8000     30
R 8000+             27
Name: count, dtype: int64

Existuje souvislost mezi množstvím konzumovaného alkoholu, četností sociálních aktivit a výkonem ve škole?

In [25]:
# Converting relevant columns to numeric for analysis
alcohol_column = 'Drinks_Per_Night'
social_column = 'Socialising_Frequency'

# Convert columns to numeric where necessary, ignoring non-numeric values
data[alcohol_column] = pd.to_numeric(data[alcohol_column], errors='coerce')
data[social_column] = pd.to_numeric(data[social_column], errors='coerce')

# GPA column (already numeric)
gpa_column = 'Yearly_GPA'

# Dropping rows with missing values for relevant columns
analysis_data = data[[alcohol_column, social_column, gpa_column]].dropna()

# Correlation analysis
correlation_matrix = analysis_data.corr()

# Display the correlation matrix
correlation_matrix

                       Drinks_Per_Night  Socialising_Frequency  Yearly_GPA
Drinks_Per_Night                    NaN                    NaN         NaN
Socialising_Frequency               NaN                1.00000     0.12065
Yearly_GPA                          NaN                0.12065     1.00000